.text-container {
       padding-left: 41px;
}

.text-container h1 {
       padding-top: 27px;
       font-size: 48px;
       font-weight: bold;
}

.text-container h4 {
       font-size: 24px;
       font-weight: bold;
       color: #7E7E7E;
       letter-spacing: 0.02em;
}

.button-container {
       padding-top: 27px;
}

.button-container h4 {
       font-size: 16px;
       color: #FFFF;
}

