.git-search-container {
  margin: 54px 95px 0 95px;
  background-color: #e6f7ff;
  height: 270px;
  border-radius: 16px;
}

.content-container {
  padding: 54px 0 54px 31px;
}

.form-container {
  padding: 12px 0 24px 0;
}

.text-container-page {
  color: #262626;
  font-size: 38px;
  line-height: 46px;
}

.search-button h4 {
  font-size: 16px;
  color: white;
}

.form-container input {
  padding-left: 17px;
}

.information-container {
  margin-top: 60px;
}
